<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.vam.mapper.AuthorMapper">
  
    <!-- 작가 등록 -->
  	<insert id="authorEnroll">
  	
  		insert into vam_author(authorName, nationId, authorIntro) values(#{authorName}, #{nationId}, #{authorIntro} )

  	</insert>	
  	
  	
  	<!-- 작가 목록 -->
  	<select id="authorGetList" resultType="com.vam.model.AuthorVO">
  	
  	<![CDATA[
	  	select * from (
	  		select /*+INDEX_DESC(vam_author SYS_C007451) */ 
	  			rownum as rn, authorid, authorname, nationid, regdate, updatedate
			from vam_author 
			where
			 
	]]>		 
			<if test="keyword != null">
				authorname like '%'||#{keyword}||'%' and
			</if>
			
	<![CDATA[		
			 rownum <= #{pageNum}*#{amount}
			)
		where rn > (#{pageNum} - 1) * #{amount}
  	]]>
  	
  	</select>
  	
  	<!-- 작가 수 -->
  	<select id="authorGetTotal" resultType="int">
  	
  		select count(*) from vam_author
  		
  		<if test="keyword != null">
  		
  			where authorname like '%' || #{keyword} || '%'
  		
  		</if>
  		
  	</select> 
  	
   	<!-- 작가 디테일 페이지 -->
  	<select id="authorGetDetail" resultType="com.vam.model.AuthorVO">
  	
  		select * from vam_author where authorid = #{authorId}
  	
  	</select>  	 	 	
  	
   	<!-- 작가 정보 수정 -->
  	<update id="authorModify">
  	
  		update vam_author set authorName=#{authorName}, nationId=#{nationId}, authorIntro=#{authorIntro}, updatedate=sysdate where authorId = #{authorId}
  	
  	</update> 	
  	
  	<!-- 작가 정보 삭제 -->
  	<delete id="authorDelete">
  	
  		delete from vam_author where authorId = #{authorId}
  	
  	</delete>  	
  	
  </mapper>